<!-- Declare a new AngularJS app and associate the controller -->
<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-messages.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Angular Material Library -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.js"></script>

    <script src="js/app-starWars.js"></script>
    <script src="js/angular-messages.js"></script>
    <script src="js/angular-confirm.js"></script>
    <script src="js/angular-material.js"></script>
    <script>
        angular.module("app-starWars").value("serverAddress", "https://swapi.co/api/");
    </script>


    <!--<link rel="stylesheet" href="angular-confirm.css" />-->
    <link rel="stylesheet" href="css/CSS.css" />
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="css/sideNavCSS.css" />

    <link rel="stylesheet" href="css/angular-material.css" />
    <link rel="stylesheet" href="css/angular-confirm.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


</head>

<body>

    <div ng-app="app-starWars" ng-controller="starWarsController as vm" style="height:500px;" layout="column" ng-cloak>

        <div>
            <!-- Naviagtion Panel-->
            <div id="mySidenav" class="sidenav">
                <h1 style="font-family:'Cookie', cursive;color:#fff;font-weight: normal;line-height:1; text-shadow:0 3px 0 rgba(0,0,0,0.1);">Star Wars</h1>
                <a href="#" ng-click="vm.getPeoples()">People</a>
                <a href="#" ng-click="vm.getPlanets()">Planet</a>
                <a href="#" ng-click="vm.getStarships()">Star ships</a>
                <a href="#" ng-click="vm.getFilms()">Films</a>
                <a href="#" ng-click="vm.getVehicles()">Vehicles</a>
                <a href="#" ng-click="vm.getSpecies()">Species</a>

            </div>

            <div ng-if="!vm.loadingScreen" style="margin-left: 25%">
                <div ng-if="vm.viewPeoples" class="row">
                    <div>
                        <form>
                            <h1>Star Wars Peoples</h1>
                            <ul ng-watch=" vm.peoples">
                                <li ng-repeat="item in vm.peoples" ng-click="" ng-class="{active:item.active}">
                                    <a style=" color: white;" id="anchor" ng-click="getSinglePeopleData(item)">{{item.name}}</a>
                                </li>
                            </ul>
                        </form>
                    </div>
                </div>
                <div class="row" ng-if="vm.viewPlanets">
                    <div>
                        <form>
                            <h1>Star Wars Planets</h1>
                            <ul>
                                <li ng-repeat="item in vm.planets" ng-click="showAlert($event)" ng-class="{active:item.active}">
                                    <a style=" color: white;" id="anchor" href="" ng-click="getSinglePlanetData(item)">{{item.name}}</a>
                                </li>
                            </ul>
                        </form>
                    </div>
                </div>
                <div class="row" ng-if="vm.viewStarships">
                    <div>
                        <form>
                            <h1>Star Wars StarShips</h1>
                            <ul>
                                <li ng-repeat="item in vm.starships" ng-click="showAlert($event)" ng-class="{active:item.active}">
                                    <a style=" color: white;" id="anchor" href="" ng-click="getSingleStarshipData(item)">{{item.name}}</a>
                                </li>
                            </ul>
                        </form>
                    </div>
                </div>
                <div class="row" ng-if="vm.viewVehicles">
                    <div>
                        <form>
                            <h1>Star Wars Vehicles</h1>
                            <ul>
                                <li ng-repeat="item in vm.vehicles" ng-click="showAlert($event)" ng-class="{active:item.active}">
                                    <a style=" color: white;" id="anchor" href="" ng-click="getSingleVehicleData(item)">{{item.name}}</a>
                                </li>
                            </ul>
                        </form>
                    </div>
                </div>
                <div class="row" ng-if="vm.viewFilms">
                    <div>
                        <form>
                            <h1>Star Wars Films</h1>
                            <ul>
                                <li ng-repeat="item in vm.films" ng-click="showAlert($event)" ng-class="{active:item.active}">
                                    <a style=" color: white;" id="anchor" href="" ng-click="getSingleFilmData(item)">{{item.title}}</a>
                                </li>
                            </ul>
                        </form>
                    </div>
                </div>
                <div class="row" ng-if="vm.viewSpecies">
                    <div>
                        <form>
                            <h1>Star Wars Species</h1>
                            <ul>
                                <li ng-repeat="item in vm.species" ng-click="showAlert($event)" ng-class="{active:item.active}">
                                    <a style=" color: white;" id="anchor" href="" ng-click="getSingleSpecieData(item)">{{item.name}}</a>
                                </li>
                            </ul>
                        </form>
                    </div>
                </div>
                <div class="row" ng-if="vm.viewMap">
                    <div>
                        <form>
                            <h1>Person Information </h1>
                            <ul>
                                <li ng-class="{active:item.active}" style=" color: white;" id="anchor">
                                    Name: {{vm.singleData.name}}
                                </li>
                                <li ng-class="{active:item.active}">
                                    URL:
                                    <a style=" color: white;" id="anchor" href="{{vm.singleData.url}}"> {{vm.singleData.url}}</a>
                                </li>
                                <li ng-class="{active:item.active}" style=" color: white;" id="anchor">
                                    Gender: {{vm.singleData.gender}}
                                </li>
                                <li ng-class="{active:item.active}" style=" color: white;" id="anchor">
                                    Height: {{vm.singleData.height}}
                                </li>
                                <li ng-class="{active:item.active}" style=" color: white;" id="anchor">
                                    Mass: {{vm.singleData.mass}}
                                </li>
                            </ul>
                        </form>
                    </div>
                </div>
                <div class="row" ng-if="vm.viewFilmMap.length !=vm.filmInfoSize && vm.viewMap">
                    <div>
                        <form>
                            <h1>People->Film Mapping </h1>
                            <ul>
                                <li ng-repeat="item in vm.singleData.filmInfo" ng-class="{active:item.active}" style=" color: white;" id="anchor">
                                    TITLE: {{item.title}} &nbsp; &nbsp; DIRECTOR: {{item.director}}
                                </li>
                            </ul>
                        </form>
                    </div>
                </div>

            </div>
            <!-- Loading Screen -->
            <div ng-if="vm.loadingScreen" layout="row" layout-sm="column" layout-align="space-around" style="margin-left: 25%; margin-top: 20%; ">
                <md-progress-circular md-mode="indeterminate" md-diameter="100px" value="80"></md-progress-circular>

            </div>

            <!--Error Message in API request -->
            <div class="alert alert-danger alert-dismissible fade in" style="margin-left: 25%; width: 70%; height: 20px; padding: 20px;" ng-show="vm.errorMessage">
                {{vm.errorMessage}}
            </div>



        </div>
    </div>
</body>



</html>